<div class="img-2">
</div>

<div class="main-container">
    <div class="main-input-container">
        <form action="/signin" method="POST" class="input-container">
            <div class="input-ph-container">
                <input type="text" class="input input-1" placeholder="Mail">
                <div class="icon-container">
                    <span class="material-symbols-outlined icon-mail">
                        Mail
                    </span>
                </div>
            </div>

            <div class="input-ph-container">
                <input type="text" class="input input-2" placeholder="Password">

                <div class="icon-container">
                    <span class="material-symbols-outlined icon-pass">
                        Lock
                    </span>
                </div>
            </div>
            
            <button type="submit" class="btn-s-i">
                Sign in
            </button>

            <div class="question">
                <a href="/signup" class="q-have_an_account">
                    You dont have an account? 
                    <h4>
                        Sign Up
                    </h4>
                </a>
            </div>
        </form>

        {{> FooterAuth}}
    </div>
</div>