<div class="img-3">
</div>

<div class="main-container-2">
    <div class="main-input-container-2">
        <form action="/signin" method="POST" class="input-container-2">
            <div class="full-name-container">
                <div class="input-ph-container-1">
                    <input type="text" class="input inputs-fullname input-3" placeholder="Enter your name">
                </div>
                <div class="input-ph-container-1">
                    <input type="text" class="input inputs-fullname input-4" placeholder="Enter your surname">
                </div>
            </div>

            <div class="input-ph-container">
                <input type="email" class="input input-1" placeholder="Enter your mail" autocomplete="email">
                <div class="icon-container">
                    <span class="material-symbols-outlined icon-mail">
                        Mail
                    </span>
                </div>
            </div>

            <div class="input-ph-container">
                <input type="password" class="input input-2" placeholder="Enter a password">

                <div class="icon-container">
                    <span class="material-symbols-outlined icon-pass">
                        Lock
                    </span>
                </div>
            </div>
            
            <button type="submit" class="btn-s-i-2">
                Sign up
            </button>

            <div class="question">
                <a href="/signin" class="q-have_an_account-2">
                    You aleready have an account? 
                    <h4>
                        Sign In
                    </h4>
                </a>
            </div>
        </form>

        {{> FooterAuth}}    
    </div>
</div>