<div class="footer">
    <div class="logo">
        <a href="/" class="text-grey">
            <p class="text-grey">© GradientsWebApp</p>
        </a>
    </div>
    <div class="links">
        <div class="div-line"></div>

        <a href="" class="text-grey">
            How it works
        </a>

        <div class="div-line"></div>

        <a href="" class="text-grey">
            Support
        </a>

        <div class="div-line"></div>

        <a href="" class="text-grey">
            FaQ
        </a>

        <div class="div-line"></div>
    </div>
</div>