<div class="nav-cn">
    <div class="a_nav-cn">
        <a href="" class="a_nav a">
            <span class="material-symbols-outlined b">
                arrow_outward
            </span>
            How it works
        </a>

        <a href="" class="a_nav">
            <span class="material-symbols-outlined">
                arrow_outward
            </span>
            Support
        </a>

        <a href="" class="a_nav">
            <span class="material-symbols-outlined">
                arrow_outward
            </span>
            FaQ
        </a>
    </div>

    <div class="btn-cn">
        <a href="/signin" class="a_btn">
            <button class="btn l-btn">
                <span class="material-symbols-outlined">
                    login
                </span>
            </button>
        </a>

        <a href="/signup" class="a_btn">
            <button class="btn s-btn">
                Sign Up
            </button>
        </a>

        <button class="btn s-btn menu-symbol">
            <span class="material-symbols-outlined">
                menu
            </span>
        </button>
    </div>
</div>