<div class="main-div-home">

    <div class="options-pick-color">
        <div class="input-color-container">
            <div class="input-color-picker"></div>
        </div>

        <div class="color-code-container">
            <div class="title-color-code">
                <h1>COLOR CODE</h1>
            </div>

            <div class="inputs-color-code">
                <div class="hastag-input-container">
                    <input type="text" name="" id="" class="input-color input-color-hashtag">
                    <p>HEX</p>
                </div>

                <div class="color-info-container">
                    <div class="RGBA-container r-container">
                        <input type="text" name="" id="" class="input-color input-color-other">
                        <p>R</p>
                    </div>

                    <div class="RGBA-container g-container">
                        <input type="text" name="" id="" class="input-color input-color-other">
                        <p>G</p>
                    </div>

                    <div class="RGBA-container b-container">
                        <input type="text" name="" id="" class="input-color input-color-other">
                        <p>B</p>
                    </div>

                    <div class="RGBA-container a-container">
                        <input type="text" name="" id="" class="input-color input-color-other">
                        <p>A</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="picked-gradient"></div>
</div>