<div class="img">
    <div class="nav-cn">
        <div class="a_nav-cn">
            <a href="" class="a_nav a">
                <span class="material-symbols-outlined b">
                    arrow_outward
                </span>
                HOW IT WORKS
            </a>

            <a href="" class="a_nav">
                <span class="material-symbols-outlined">
                    arrow_outward
                </span>
                SUPPORT
            </a>

            <a href="" class="a_nav">
                <span class="material-symbols-outlined">
                    arrow_outward
                </span>
                FAQ
            </a>
        </div>

        <div class="btn-cn">
            <a href="" class="a_btn">
                <button class="btn l-btn">
                    <span class="material-symbols-outlined">
                        login
                    </span>
                </button>
            </a>

            <a href="" class="a_btn">
                <button class="btn s-btn">
                    SIGN IN
                </button>
            </a>
        </div>
    </div>
    
    <div class="title-cn">
        <h1 class="h1">
            Making <br> 
            Gradients <br> 
            Great Again
        </h1>
    </div>
</div>

<div class="section-2">
    <div class="gradients">
        <img src="/public/img/gradient-2.jpg" alt="" class="img-s-2">
        <img src="/public/img/gradient-3.jpg" alt="" class="img-s-2">
        <img src="/public/img/gradient-4.jpg" alt="" class="img-s-2">
    </div>

    <div class="info">
        <div class="title-cn-2">
            <h1 class="h1-2">  
                What is <br>
                this about?
            </h1>

            <p class="p-2">
                This web application is used 
                to make your gradients easily 
                and quickly to be able to use 
                them freely. You can find more 
                information here
            </p>

            <button class="btn-m-i">
                More information 
                <span class="material-symbols-outlined chevron off">
                    chevron_right
                </span>
            </button>
        </div>
    </div>
</div>