<div class="img">
    {{> Navbar}}

    <div class="title-cn">
        <div class="internal-title-cn">
            <h1 class="h1">
                Making <br> 
                Gradients <br> 
                Great Again
            </h1>

            <button class="btn btn-g-s">
                <span class="t-g-s">
                    Get Started
                </span>
                <span class="material-symbols-outlined t-g-s">
                    chevron_right
                </span>
            </button>
        </div>
    </div>
</div>

<div class="section-2">
    <div class="gradients">
        <img src="/public/img/gradient-2.jpg" alt="" class="img-s-2">
        <img src="/public/img/gradient-3.jpg" alt="" class="img-s-2">
        <img src="/public/img/gradient-4.jpg" alt="" class="img-s-2">
    </div>

    <div class="info">
        <div class="title-cn-2">
            <h1 class="h1-2">  
                <span class="span-title-2">
                    What is
                </span> <br>
                this about?
            </h1>

            <p class="p-2">
                This web application is used 
                to make your gradients easily 
                and quickly to be able to use 
                them freely. You can find more 
                information here
            </p>

            <button class="btn-m-i" id="btn-1">
                More information 
                <span class="material-symbols-outlined chevron off" id="chevron-1">
                    chevron_right
                </span>
            </button>
        </div>
    </div>

    <div class="download-gradients">
        <div class="title_download-gradients">
            <h1 class="h1-2">
                Use new 
                <span class="span-title-2">
                    gradients
                </span>
            </h1>
            <p class="p-2">
                Download free gradients, 
                you can also get the properties 
                of these gradients.
            </p>

            <button class="btn-m-i" id="btn-2">
                Download gradients
                <span class="material-symbols-outlined chevron off" id="chevron-2">
                    chevron_right
                </span>
            </button>
        </div>
        <div class="ilustration_download-gradients">
            <div class="gradients-ilustration_download-gradients">
                <div class="line-1">
                    <div class="ilus-gradient ilus-1">
                        <div class="download-icon">
                            <span class="material-symbols-outlined">
                                download
                            </span>
                        </div>
                    </div>
                    <div class="ilus-gradient ilus-2">
                        <div class="download-icon">
                            <span class="material-symbols-outlined">
                                download
                            </span>
                        </div>
                    </div>
                    <div class="ilus-gradient ilus-3">
                        <div class="download-icon">
                            <span class="material-symbols-outlined">
                                download
                            </span>
                        </div>
                    </div>
                </div>
                <div class="line-2">
                    <div class="ilus-gradient ilus-4">
                        <div class="download-icon">
                            <span class="material-symbols-outlined">
                                download
                            </span>
                        </div>
                    </div>
                    <div class="ilus-gradient ilus-5">
                        <div class="download-icon">
                            <span class="material-symbols-outlined">
                                download
                            </span>
                        </div>
                    </div>
                    <div class="ilus-gradient ilus-6">
                        <div class="download-icon">
                            <span class="material-symbols-outlined">
                                download
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>